.movie_bg{width:100%; height:100%; position:relative;background-color:rgba(0,0,0,0.4)}
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
    clear: both;
}
/* header */
#header{width:100%; height:100%;  text-align:center;}
#header>.table{display:table; width:100%; height:calc(100% - 108px);}
#header>.table>.table-cell{display:table-cell; vertical-align: middle;}
.title{max-width:933px; width:90%;}
.navs{background-color:rgba(0,0,0,0.5); padding:1em 0;}
.navs .logo{margin-bottom:0.5em;}
.navs .nav>li{float:left; width:16.66%; }
.nav>li>a{width:inherit;}

/* about */
#about{background-color:#fff;}
#about>.samrock{padding:25px 0; text-align:center;}
#about>.ab_ban{background-image:url("../img/about_img.jpg"); background-attachment: fixed; background-size:cover;
font-stretch: semi-condensed}
.ab_ban>.ab_ban_txt{padding:7rem 0;}
.ab_ban_txt>h2{font-weight:600; font-size:3em;}
#about>.ab_txt{color:#5e5e5e; text-align:center; font-weight:400; padding:3.5rem 0; }
/* artist */
#artists{  background-image: repeating-linear-gradient( 45deg, #e1e1e1, #e1e1e1 1px, white 2px, white 4px);
     padding:5rem 0;}
.artist>li{float:left; width:25%; background-color:#fff; text-align:center; position:relative;
max-height:346px; overflow:hidden; background-color:#000;}
.artist>li>.art_logo{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); display:none; }
.artist>li>img{transition-duration: 0.7s;}


#time_table>.time_lt{width:65%;padding:0 10%; background-image:url("../img/banner2.png");
background-size:cover;}
#time_table>.time_rt{width:35%; background-color:#fff; height:inherit;}
.time_rt_txt>h2{color:#f16521;font-size:3em; letter-spacing:-2px;}
.time_rt_txt>hr{border-top:2px solid #f16521;}
.time_rt>.btn{outline:none; border:1px solid #f16521; background:transparent}
.time_rt>.btn>a{padding:0.4rem 1.25rem; color:#f16521; display:block;}

.news1{background-color:#ffc594;z-index:-2}
.news2{background-color:#d1afc0;z-index:-2}
.news_img1, .news_img2{z-index:-1}
.news_img2{right:0;}
.news_img1>img,.news_img2>img{max-height:360px; }
.news_txt{padding-top:88.5px}
.news_txt>hr{border-top:2px solid #fff;; width:20px; display:block; margin-top:3px;
margin-bottom:0.8rem;}
.news_txt>p{margin-bottom:1rem;}
.news_txt>.btn{outline:none; border:1px solid #fff; background:transparent}
.news_txt>.btn>a{padding:0.4rem 1.25rem; color:#fff; display:block;}

#address{background-image:url("../img/banner3.png"); max-height:500px; height:100%;}
#address>.row{height:100%}
#address>.row>.add_lt{width:25%; background-color:rgba(255,255,255,0.3); position:relative;
height:100%;}
.add_lt_txt{margin:30px auto 0; width:60%;}
.add_lt_txt>hr{border-top:2px solid #fff;; width:20px; display:block; margin-top:3px;
    margin-bottom:0.8rem; text-align: center;}
.add_lt_txt>p{font-size:0.9em;}
.add_lt>.btn_c{outline:none;border:none; width:70%;  border-radius:30px; position:absolute; left:50%;transform:translateX(-50%);
     padding:0.5rem 0;  background-image:linear-gradient(to right,#7f597e, #955970, #e6827f);}  
.add_lt>button:nth-child(2){bottom:65px;}   
.add_lt>button:nth-of-type(2){bottom:20px;}   
#address .add_rt{width:65%;}
.add_rt>.add_img{margin-top:15px; margin-bottom:10px; text-align:center;}

#contact{background-color:#fff; padding:75px 0; text-align:center;}
#contact>.btn{outline:none; background:transparent; border:none;}
#contact>.btn>a{padding:0.4rem 1.25rem; color:#000; border:1px solid #000; display:block;}
#contact>.btn>a:hover{color:#ffb300; border:1px solid #ffb300}
#footer{background-color:#5d5d5d}

.foot_nav{border-bottom:1px solid rgba(225,225,225,0.7);}
.foot_nav li{float:left; width:16.66%; text-align:center}
.foot_nav li>a{width:100%; display:block ; padding:0.6rem 0;}
.foot_txt{padding:1rem 0;}
.foot_logo_1{margin-left:2rem;}
.foot_logo_2{margin-left:2rem;}

